@import "./globalVars.scss";
@import "./mixins.scss";
@import "./reset.scss";
@import "swiper/css";
@import "./slider.scss";
@import "./textMedia.scss";
@import "./text.scss";
@import "./header.scss";
@import "./navbar.scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: $classico-regular;
  background-color: $black;
}

section,
footer {
  padding: 1rem 0;

  @include desktop {
    padding: 2rem;
  }

  @include widescreen {
    padding: 3rem 4rem;
  }

  @include fullhd {
    padding: 4rem 5rem;
  }

  @include ultrahd {
    padding: 5rem 6rem;
  }
}

footer {
  min-height: 20vh;
  background-color: $green-dark;
  color: $white;
}

h1 {
  font-size: 3rem;
  line-height: 1.4;
  font-family: $classico-black;
  text-transform: uppercase;

  @include desktop {
    font-size: 4rem;
  }

  @include fullhd {
    font-size: 5rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1rem;

  @include desktop {
    font-size: 2.75rem;
    margin-bottom: 1.25rem;
  }

  @include fullhd {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}

h3 {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @include desktop {
    font-size: 1.875rem;
    margin-bottom: 1.125rem;
  }

  @include fullhd {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }

  &.text-bold {
    font-family: $classico-bold;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;

  @include desktop {
    font-size: 1.25rem;
  }

  @include fullhd {
    font-size: 1.325rem;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "•";
      color: $black;
      margin-right: 0.5rem;
    }
  }
}

.btn {
  text-decoration: none;
  background-color: $green-dark;
  color: $white;
  padding: 0.75rem 1.5rem;
  margin-top: 1.5rem;
  max-width: fit-content;
  transition: all 0.5s ease-out;
  border: 1px solid $green-dark;

  &:hover {
    background-color: $green;
    color: $black;
  }
}

.container {
  padding: 0.75rem;
  margin: 0 auto;

  @include desktop {
    max-width: 960px;
  }

  @include widescreen {
    max-width: 1152px;
  }

  @include fullhd {
    max-width: 1344px;
  }

  @include ultrahd {
    max-width: 1536px;
  }
}

// helpers
// TODO remove unused classes

.bg-default {
  background-color: $color-default;

  p {
    color: $white;
  }
}

.bg-green {
  background-color: $green;
}

.bg-yellow {
  background-color: $yellow-very-light;
}

.bg-orange {
  background-color: $orange-light;
}

.p-default {
  padding: 0.75rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-family: $classico-bold;
}

.uppercase {
  text-transform: uppercase;
}

.pb-0 {
  padding-bottom: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.flex-row-reverse {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row-reverse;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-around {
  display: flex;
  justify-content: space-around;
}

.flex-justify-baseline {
  display: flex;
  justify-content: baseline;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-align-between {
  display: flex;
  align-items: space-between;
}

.flex-align-baseline {
  display: flex;
  align-items: baseline;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 100%;

  @include desktop {
    width: 50%;
  }
}

.h-full {
  height: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.w-fullscreen {
  width: 100vw;
}

.h-fullscreen {
  height: 100vh;
  height: 100dvh;
}
