// breakpoints
@mixin mobile-only {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin fullhd {
  @media (min-width: 1408px) {
    @content;
  }
}

@mixin ultrahd {
  @media (min-width: 1920px) {
    @content;
  }
}

// helpers
// TODO remove unused classes
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.flex-row-reverse {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row-reverse;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-around {
  display: flex;
  justify-content: space-around;
}

.flex-justify-baseline {
  display: flex;
  justify-content: baseline;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-align-between {
  display: flex;
  align-items: space-between;
}

.flex-align-baseline {
  display: flex;
  align-items: baseline;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 100%;

  @include desktop {
    width: 50%;
  }
}

.h-full {
  height: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.w-fullscreen {
  width: 100vw;
}

.h-fullscreen {
  height: 100vh;
  height: 100dvh;
}
