.text {
  .container {
    > * {
      padding: 0.75rem;
    }
  }
}

#presentation {
  .text {
    height: 100vh;
    display: flex;
    align-items: center;

    .container > * {
      display: flex;
      justify-content: center;
    }
  }
}
