.text-media {
  &__media {
    padding: 0.75rem;
    overflow: hidden;

    img {
      aspect-ratio: 1/1;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__text {
    padding: 0.75rem;
    flex-direction: column;
  }

  .container {
    gap: 0;

    @include desktop {
      gap: 1.75rem;
    }

    @include widescreen {
      gap: 2.5rem;
    }

    @include fullhd {
      gap: 3.5rem;
    }

    @include ultrahd {
      gap: 4.5rem;
    }
  }
}
